// Change bootstrap primary color
$theme-colors: (
  "primary": #000000,
);

// Change NES.css primary color
$primary-colors: (
        normal: #189af1,
        hover: #2096e5,
        shadow: #006bb3
);


@import "../../node_modules/bootstrap/scss/bootstrap";
@import "scss/nes.scss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

