// Change bootstrap primary color
$theme-colors: (
  "primary": #000000,
);


  // Change NES.css primary color
$primary-colors: (
  normal: #209cee,
  hover: #108de0,
  shadow: #006bb3
);

$warning-colors: (
  normal: #ffc53d,
  hover: #ebb22f,
  shadow: #c59040,
);

$form-range-track-width:          100%;
$form-range-track-height:         1rem;
$form-range-track-border-radius:  0rem;
$form-range-track-cursor:         pointer;
$form-range-track-bg:             rgb(214, 214, 214);
$form-range-thumb-border-radius:           0rem;
$form-range-thumb-width:                   2rem;

$form-range-thumb-bg:                      #ffc53d;
$form-range-thumb-active-bg:               #ebb22f;
$form-range-thumb-disabled-bg:             rgb(160, 160, 160);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "scss/nes.scss";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "https://kit.fontawesome.com/ad573a851c.js";